# Python cache and build files
__pycache__/
*.pyc
*.pyo

# Virtual environment files
.venv/
env/

# ScreenShot
ScreenShot/
Fail/
Success/

# Environment variables
.env

# IDE and editor files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Log and temp files
*.log
*.tmp
*.bak
